.play-pause__pause:before, .play-pause__pause:after {
  display: block;
  width: 33%;
  content: "";
  background-color: black;
  height: 100%;
  position: absolute;
}
.play-pause__pause:before {
  left: 0;
  top: 0;
}
.play-pause__pause:after {
  right: 0;
  top: 0;
}
.play-pause__play:before {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid black;
}
